[submodule "fritzing-parts"]
	path = fritzing-parts
	url = https://github.com/htho/fritzing-parts
[submodule "midi-octopot/Control-Surface-gwilherm"]
	path = midi-octopot/Control-Surface-gwilherm
	url = https://github.com/gwilherm/Control-Surface
